.Home{
    background-color: black;
    color: white;
}
#home,li{
    display: inline-block;
}
#home{
    margin-left: 60%;
    cursor: pointer;
}
.home:hover,.about:hover,.product:hover,.contact:hover{
    color: royalblue;
}
input{
    width: 60%;
    padding: 15px;
}
.Searchbar{
    padding: 50px;
    padding-left: 100px;   
    text-align: center;
}
.box{
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color:black ;
    display: inline-block;
    width: 220px;
}

.amt1{
    color: red;
}
.buy{
    cursor: pointer;
    border: 2px solid;
}
.buy:hover{
    color: goldenrod;
    background-color: black;
}
.Product{
    text-align: center;
}
.about-1{
    background-color: gray;
    color: black;
}
.abtus,#ab1,#kjs{
    width:300px;
    display: inline-block;
    text-align: center;
}
#one{
    cursor: pointer;
    width: 200px;
    text-align: center;

}
.HOME:hover,.Aboutus:hover,.content:hover{
    color: goldenrod;
}
.Footer{
    text-align: center;
}
